* {
    
    box-sizing: border-box;
}

body{
    height:100vh;
    background: #161d1d;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 24px;
}

header{
    background: #161d1d;;
    padding: 2em 0 2em 0;
    text-align: center;
}

.main{
    display: flex;
    flex: 1;
}

.left{
    background: #161d1d;;
    padding: 3em 0 3em 0;
    flex: 1 1 100px;
}

main {
    background: #161d1d;;
    padding: 1em 0 1em 0;
    flex: 8 8 150px;
    display: flex;
    flex-direction: column;
}

.right{
    background: #161d1d;;
    padding: 3em 0 3em 0;
    flex: 1 1 100px;
}

footer{
    background: #161d1d;;
    padding: 1em 0 1em 0;
    text-align: center;
}

/**********************************/
.main-first-section{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: #161d1d;;
    flex: 2 2 100px;
    padding: 0 10em 0 10em;
    align-items: center;   
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.main-second-section{
    display: flex;
    justify-content: space-between;
    background: #161d1d;;
    flex: 2 2 100px;
    padding: 0 8em 0 8em;
    align-items: center;  
}

.main-third-section{
    display: flex;
    justify-content: space-evenly;
    background: #161d1d;
    flex: 2 2 100px;
}

.game-choice:hover{
    opacity: 0.2;
}

.game-choice{
    transition: all .1s ease;
}

.on-click{
    border: 3px solid #dadada;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transform: scale(1.1);
}

@media all and (max-width: 550px){
    .main{
        flex-direction: column;
    }
    main {
        padding: 5em 0 5em 0;
    }
}